body {
    background: rgb(51, 51, 51);
    color: white;
}

#topbar {
    background: rgb(31, 31, 31);
    color: white;
    margin-bottom: 20px;
}

#topbar h1, h2 {
    color: white;
}

.graph {
    padding: 5px;
    height: 36rem;
    margin-bottom: 30px;
}

.graph ul, .graph-like ul {
    margin-left: 2em;
}

.graph-like {
    background: rgb(31, 31, 31);
    padding: 5px;
    margin-bottom: 30px;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.muted {
    opacity: 0.5;
}

.tab {
    overflow-y: auto;
    height: 100%;
}

.tab iframe {
    width: 100%;
    height: 100%;
}

ul.menu {
    background: rgb(31, 31, 31);
}

ul.menu li {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    border-bottom: 1px solid #777;
}

ul.menu li:last-child {
    border-bottom: none;
}

ul.menu li:hover {
    background: rgb(180, 180, 180);
}

.menu iframe {
    margin-top: 10px;
}

#timeline {
    overflow: auto;
    margin-bottom: 30px;
    padding: 20px 40px;
    padding-top: 0;
}


.timeline-item {
    padding: 10px;
    border-bottom: 1px solid rgba(113, 113, 113, 0.36);
    margin: 1.25rem 0 1.1875rem;
}

    .timeline-item:first-child {
        padding-top: 0;
    }

.timeline-author img {
    width: 40px;
    border-radius: 50%;
}

.timeline-item p {
  line-height: 1.2rem;
  font-size: 1rem;
}

.timeline-item--title {
  margin-bottom: 0;
}

.timeline-item--read-more {
  margin: -.5rem 0 0 0;
}
  .timeline-item--read-more a {
    font-size: .8rem;
  }

.timeline-item--avatar {
  border-radius: 50%;
  width: 65px;
  margin:0 auto;
  display: block;
}

.timeline-item--username {
  text-align: center;
}

.timeline-item--comment {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

.inline {
    display: inline-block;
}

.cog {
    display: inline-block;
    margin: 0 0 1.2rem 0;
}

    .cog:hover {
        -webkit-transform: rotate(180deg);
        -webkit-transition-duration: .5s;
        -moz-transform: rotate(180deg);
        -moz-transition-duration: .5s;
    }

.loading {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

    .loading:after {
        content: "";
        height: .5rem;
        width: 1rem;
        margin: 0 0 .4rem .5rem;
        display: inline-block;
        border: 3px solid #1E8CE2;
        border-bottom: 0;
        border-radius: 40px 40px 0 0;
        -webkit-transform-origin: bottom center;
        -webkit-animation: spinner .4s infinite linear;
        -moz-transform-origin: bottom center;
        -moz-animation: spinner .4s infinite linear;
    }

#repo-select-trigger {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.repo-select {
    position: relative;
}

    .repo-select ul {
        position: absolute;
        right: 5px;
        top:-20px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 1;
        opacity: 0;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        transition-duration: .3s;
        min-height:30px;
    }

        .repo-select ul:after {
            content: '';
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            background: #fff;
            top: -.5rem;
            right: 2px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
        }

    .repo-select ul li {
        list-style: none;
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }

.hidden {
    visibility: hidden;
    pointer-events: none;
}

.show--fade-in {
    opacity: 1 !important;
    top: 0 !important;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
}

@-webkit-keyframes spinner {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinner {
    0% {-moz-transform: rotate(0deg);}
    50% {-moz-transform: rotate(180deg);}
    100% {-moz-transform: rotate(360deg);}
}

.issue-count {
    font-size: 1.5rem;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
    line-height: 3rem;
    display:inline-block;
}

.text-small {
    font-size:.7rem;
}

.text-centered {
    text-align: center;
}

#open-issues-count {
    color: red;
}

#open-pulls-count {
    color: green;
}

.clickable {
    cursor: pointer;
}

.badge {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

  .badge--gray {
    background: #999;
  }

#issues-involvement-graph-container {
    height: 88%;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.graph-title {
    margin-bottom: 0;
}

.graph-subtitle {
    font-size: 0.9rem;
    color: rgb(221, 221, 221);
}
