.graph {
    border: solid #aaa 1px;
    padding: 5px;
    height: 412px;
}

.graphs.row {
    max-width: 90%;
    margin-bottom: 30px;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.muted {
    opacity: 0.5;
}
