body {
    background: rgb(51, 51, 51);
    color: white;
}

#topbar {
    background: rgb(31, 31, 31);
    color: white;
    margin-bottom: 20px;
}

#topbar h1, h2 {
    color: white;
    display:inline-block;
}

#topbar h1 {
  font-size: 2rem;
}

.graph {
    padding: 5px;
    height: 36rem;
    margin-top: 30px;
}

.graph .graph-container {
    height: 94%;
}

.graph:first-child {
    margin-top: auto;
}

.graph ul, .graph-like ul {
    margin-left: 2em;
}

.graph select {
    width: auto;
}

.graph-like {
    background: rgb(31, 31, 31);
    padding: 5px;
    margin-bottom: 30px;
    max-height: 70rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.graph-title {
  color: white;
  text-align: center;
  font-weight: 400;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.muted {
    opacity: 0.5;
}

.tab iframe {
    width: 100%;
    height: 100%;
}

.menu {
  margin-bottom: 0;
  display: inline-block;
}

.menu li {
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  padding:0 .1rem;
  vertical-align: bottom;
  font-size: 1.1rem;
  -webkit-transition-duration: .2s;
  border-bottom:1px solid rgba(180, 180, 180, 0);
}

  li[data-tab='github'] {
    margin:0 0 .2rem 0;
    border: none;
  }

  .menu li[data-tab='github']:hover {
    border:none;
  }

.menu li:last-child {
    border-bottom: none;
}

.menu li:hover, .menu .selected {
    border-bottom:1px solid rgb(180, 180, 180);
}

.menu iframe {
    margin-top: 10px;
}

#timeline {
    overflow: auto;
    margin-bottom: 30px;
    padding: 20px 40px;
    padding-top: 0;
}


.timeline-item {
    padding: 10px;
    border-bottom: 1px solid rgba(113, 113, 113, 0.36);
    margin: 1.25rem 0 1.1875rem;
}

    .timeline-item:first-child {
        padding-top: 0;
    }

.timeline-author img {
    width: 40px;
    border-radius: 50%;
}

.timeline-item p {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline-aside p {
  margin: .3rem 0;
}

.timeline-item--title {
  margin-bottom: 0;
}

.timeline-item--additions span,
.timeline-item--deletions span {
  font-size: 1.5rem;
  font-weight: bold;
}

.timeline-item--deletions span {
  color: red;
}

.timeline-item--additions span {
  color: green;
}

.timeline-item--read-more {
  margin: -.5rem 0 0 0;
}
  .timeline-item--read-more a {
    font-size: .8rem;
  }

.timeline-item--avatar {
  border-radius: 50%;
  width: 65px;
  margin:1rem auto 0 auto;
  display: block;
}

.timeline-item--avatar:hover + .timeline-item--username {
  opacity: 1;
}

.timeline-item--username {
  text-align: center;
  margin: .3rem 0;
  opacity: 0;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  transition-duration: .2s;
}

.timeline-item--comment {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}

.inline {
    display: inline-block;
}

.cog {
    display: inline-block;
}

    .cog:hover {
        -webkit-transform: rotate(180deg);
        -webkit-transition-duration: .5s;
        -moz-transform: rotate(180deg);
        -moz-transition-duration: .5s;
    }

.loading {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: none;
}

    .loading:after {
        content: "";
        height: .5rem;
        width: 1rem;
        margin: 0 0 .4rem .5rem;
        display: inline-block;
        border: 3px solid #1E8CE2;
        border-bottom: 0;
        border-radius: 40px 40px 0 0;
        -webkit-transform-origin: bottom center;
        -webkit-animation: spinner .4s infinite linear;
        -moz-transform-origin: bottom center;
        -moz-animation: spinner .4s infinite linear;
    }

#repo-select-trigger {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#user-repo {
    background-image: url(../imgs/cog.svg);
    background-repeat: no-repeat;
    background-position: right 65%;
    padding-right: 40px;
}

.repo-select {
    position: relative;
}

    .repo-select ul {
        position: absolute;
        right: 5px;
        top:-20px;
        background: #fff;
        border: 1px solid #ddd;
        z-index: 1;
        opacity: 0;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        transition-duration: .3s;
        min-height:30px;
    }

        .repo-select ul:after {
            content: '';
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            background: #fff;
            top: -.5rem;
            right: 2px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
        }

    .repo-select ul li {
        list-style: none;
        font-size: 1.2rem;
        padding: .5rem 1rem;
    }

.hidden {
    visibility: hidden;
    pointer-events: none;
}

.show--fade-in {
    opacity: 1 !important;
    top: 0 !important;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    transition-duration: .3s;
}

@-webkit-keyframes spinner {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinner {
    0% {-moz-transform: rotate(0deg);}
    50% {-moz-transform: rotate(180deg);}
    100% {-moz-transform: rotate(360deg);}
}

.issue-count {
  font-size: 1.5rem;
  border: 4px solid #FFF;
  width: 4.2rem;
  height: 4.2rem;
  text-align: center !important;
  line-height: 3.9rem;
  display: inline-block;
  border-radius: 50%;
}

.text-small {
    font-size:.7rem;
}

.text-centered {
    text-align: center;
}

#open-issues-count {
    color: red;
}

#open-pulls-count {
    color: green;
}

.clickable {
    cursor: pointer;
}

.badge {
    width: 5rem;
}

.badge,
.badge--timestamp,
.badge--issue {
  background: #999;
  display: inline-block;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  text-overflow: ellipsis;
  overflow: hidden;
}

  .badge--issue {
      width: auto;
  }

  .badge--timestamp {
    width: 9rem;
  }

#issues-involvement-graph-container {
    height: 88%;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

.inline-comment {
  width: 1.2rem;
  margin-bottom: .3rem;
}

.graph-title {
    margin-bottom: 0;
}

.graph-subtitle {
    font-size: 0.9rem;
    color: rgb(221, 221, 221);
}

@media (max-width: 1024px) {

  #topbar h1 {
    display: block;
    text-align:center;
  }

  #repo-select-trigger {
    display: inline-block !important;
  }

  #topbar .text-right {
    text-align: center !important;
  }

  .menu {
    display: block;
  }
}

.textnode {
    cursor: pointer;
}

/* http://bl.ocks.org/Caged/6476579 */
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 1);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.pull-right {
  float: right;
}

#milestones .row {
  margin-bottom: 10px;
}

.insights-milestone {
  background: #1F1F1F;
}

  .milestone-title {
    padding: .2rem;
    border-bottom: 1px solid rgb(51, 51, 51);
  }

  .milestone-title span {
    font: 12px Lucida Grande,Lucida Sans Unicode,Verdana,Arial,Helvetica,sans-serif;
  }

  .insights-milestone .meter {
    text-align: center;
    padding-top: 2px;
  }

.color--alert {
  color: #F04124;
}

.color--success {
  color: #5da423;
}

.widget-label--label-inline {
  font-size: .8rem;
  padding: .1rem;
  margin: 0 .1rem;
  border-radius: 3px;
}

.widget-label--label-item {
  border-left: 3px solid #ddd;
  list-style: none;
  padding-left: .5rem;
  margin: .5rem;
}

  .widget-label--label-item:hover {
    background: #444;
  }

  .label-color-white,
  .label-color-dark {
    font-weight: 600;
    padding:.1rem;
  }

  .label-color-white {
    color: white;
  }

  .label-color-dark {
    color: black;
  }

.widget-issues-item {
  list-style: none;
  padding: .5rem 0;
  margin: .2rem 0;
  border-bottom: 1px solid #333;
}

.tooltip-template img {
    max-width: 64px;
}

.widget-label--label-inline {
  font-size: .8rem;
  padding: .1rem;
  margin: 0 .1rem;
  border-radius: 3px;
}

.widget-label--label-item {
  border-left: 3px solid #ddd;
  list-style: none;
  padding-left: .5rem;
  margin: .5rem;
}

  .widget-label--label-item:hover {
    background: #444;
  }

  .label-color-white,
  .label-color-dark {
    font-weight: 600;
    padding:.1rem;
  }

  .label-color-white {
    color: white;
  }

  .label-color-dark {
    color: black;
  }

.widget-issues-item {
  list-style: none;
  padding: .5rem 0;
  margin: .2rem 0;
  border-bottom: 1px solid #333;
}

.widget-label {
    overflow-y: auto;
    max-height: 38rem;
}

.last-active {
    opacity: 0.4;
    margin-left: 0.5rem;
}
